<div class="container">

  <div class="horiz-center" *ngIf="userService.hasPermission('aceofclubs.view_state')">

    <table mat-table [dataSource]="states" matSort class="mat-elevation-z8">

      <!-- Genre -->
      <ng-container matColumnDef="description" class="state_column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>States</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" [routerLink]="'/state-form/' + element.pk">Edit</button>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="warn" (click)="deleteState(element)">Delete</button>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </div>

  <!-- Error Handling -->
  <div *ngIf="!userService.hasPermission('aceofclubs.view_state')">
    <div class="vertical-center error-position">
      <div style="font-size: 800%; margin-bottom: 40px" class="error-title desktop-view anim-right">OH NO!</div>
      <div class="error-title mobile-view anim-right">OH<br>NO!</div>
      <div class="error-message anim-right">
        <div class="error-text">You are not allowed to perform Administrative Tasks!
        </div>
        <div style="margin-top: 30px" class="error-text">Go back to your Homepage:</div>
      </div>
      <div class="error-button horiz-center">
        <button mat-button class="btn-standard2 anim-right" routerLink="/overview">Home</button>
      </div>
    </div>
  </div>
</div>
