<div class="container">

  <div *ngIf="currentEvent != null && activeEvent">
    <div class="mobile-header position-1">
      <div>
        <div class="mobile-view mobile-title anim-left">RSVP</div>
        <div style="margin-bottom: 3vh" class="desktop-view title-bg anim-right">RSVP</div>
        <mat-divider class="mobile-view" style="margin-bottom: 15px"></mat-divider>
        <div class="horiz-center">
          <mat-card class="anim-right rsvp-card">
            <mat-card-header class="horiz-center" style="margin-bottom: 10px">
              <mat-card-title class="small-heading">{{currentEventName}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="acc-content">
              <div class="content-m-row">
                <div class="content-m-hd">Start:</div>
                <div>{{currentEventSD | date: 'dd.MM.yyyy'}} - {{currentEventST.substring(0, 5)}}</div>
              </div>
              <div class="content-m-row">
                <div class="content-m-hd">End:</div>
                <div>{{currentEventED | date: 'dd.MM.yyyy'}} - {{currentEventET.substring(0, 5)}}</div>
              </div>
              <div class="content-m-row">
                <div class="content-m-hd">Event Type:</div>
                <div>{{currentEventType}}</div>
              </div>
              <div class="content-m-row">
                <div class="content-m-hd">Groups:</div>
                <div>{{currentEventGroup}}</div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <mat-divider style="margin-top: 15px"></mat-divider>
    </div>

    <div class="horiz-center anim-right">
      <p style="margin-bottom: 0 !important;" class="text">Respond to this Event:</p>
    </div>

    <!-- Response Form -->
    <div style="margin-top: 0">
      <form [formGroup]="userEventFormGroup" (ngSubmit)="createUserEventEntry()" class="user_event_form anim-right">

        <!-- User -->
        <mat-form-field class="invisible">

          <mat-select placeholder="Username" formControlName="user">
            <!-- <mat-option [value]="userOption.pk" *ngFor="let userOption of userOptions">{{userOption.username}}</mat-option> -->
            <mat-option [value]="currentUser">{{currentUserName}}</mat-option>
          </mat-select>
          <mat-hint align="end">Username</mat-hint>

        </mat-form-field>

        <!-- Event -->
        <mat-form-field class="invisible">

          <mat-select placeholder="Event" formControlName="event">
            <mat-option [value]="currentEvent">{{currentEvent}}</mat-option>
          </mat-select>
          <mat-hint align="end">Event</mat-hint>

        </mat-form-field>

        <!-- State -->
        <mat-form-field>

          <mat-select placeholder="Choose an Option" formControlName="state">
            <mat-option [value]="stateOption.pk"
                        *ngFor="let stateOption of stateOptions">{{stateOption.description}}</mat-option>
          </mat-select>
          <mat-hint align="end">State</mat-hint>

        </mat-form-field>

        <mat-card-actions align="center">
          <button mat-button class="btn-standard2" [disabled]="!userEventFormGroup.valid">
            <span *ngIf="!userEventFormGroup.controls.pk.value">Submit Response</span>
            <span *ngIf="userEventFormGroup.controls.pk.value">Change Response</span>
          </button>
          <button mat-button class="btn-light" routerLink="/event-list">Cancel</button>
        </mat-card-actions>

      </form>
    </div>
  </div>

  <!-- Error Handling: kein Event gewählt -->
  <div *ngIf="currentEvent == null">
    <div class="vertical-center error-position">
      <div style="font-size: 800%; margin-bottom: 40px" class="error-title desktop-view anim-right">OH NO!</div>
      <div class="error-title mobile-view anim-right">OH<br>NO!</div>
      <div class="error-message anim-right">
        <div class="text">You cannot respond to an Event as no Event has been selected. <br> Please choose an Event
          first.
        </div>
        <div style="margin-top: 30px" class="text">You can view all available Events here:</div>
      </div>
      <div class="error-button horiz-center">
        <button mat-button class="btn-standard2 anim-right" routerLink="/event-list">Show All Events</button>
      </div>
    </div>
  </div>

  <!-- Error Handling: Inaktiver Event gewählt -->
  <div *ngIf="currentEvent != null && !activeEvent">
    <div class="vertical-center error-position">
      <div style="font-size: 800%" class="error-title desktop-view anim-right">OH NO!</div>
      <div class="error-title mobile-view anim-right">OH<br>NO!</div>
      <div class="error-message anim-right">
        <div class="error-text">You cannot RSVP to this event as it has been cancelled or deleted. Please select a different
          Event.
        </div>
        <div style="margin-top: 30px" class="error-text">You can view all available Events here:</div>
      </div>
      <div class="error-button horiz-center" style="margin-top: 10px">
        <button mat-button class="btn-standard2 anim-right" routerLink="/event-list">Show All Events</button>
      </div>
    </div>
  </div>


</div>
