.user_event_form{
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 3rem auto;
}

.rsvp-card {
  width: 95vw;
  max-width: 400px;
}

.ev-title {
  font-size: 22px;
  font-weight: lighter;
  color: rgba(62,91,147,0.9);
}

@media only screen and (max-width: 450px) {
  .mobile-title {
    text-align: -webkit-right;
  }

  .title-bg {
    text-align: -webkit-center;
    font-size: 650%;
  }

  .text {
    font-size: 23px;
  }


  .position {
    padding-top: 5vh;
  }

}

@media only screen and (min-width: 450px) {
  .title-bg {
    text-align: -webkit-center;
    font-size: 600%;
  }

  .position {
    padding-top: 22vh;
  }

  .text-1 {
    font-size: 30px;
  }

  .small-heading {
    font-size: 24px;
  }

  .position-1 {
    padding-top: 10vh;
  }

  .btn-standard2 {
    font-size: 20px;
  }

  .btn-light {
    font-size: 20px;
  }

  .rsvp-card {
    margin: 30px;
  }
}
