.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.profile-picture {
  width: 100px;
  height: 100px;
}

.m-sidenav-container {
  background-color: rgba(62, 91, 147, 1);
}

.mat-drawer {
  min-width: 14vw;
  width: auto;
  height: fit-content;
}

.sidenav-title {
  font-size: 25px;
  color: white;
  margin: 0 40px 0 40px;
}

.h4 {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 450px) {
  .toolbar {
    height: 12vh;
    padding-left: 2px !important;
    padding-right: 2px !important;
  }

  .m-menu {
    width: 94vw !important;
  }

  .m-sidenav-container {
    height: 92vh;
    width: 70vw;
  }

  .user-settings {
    float: left;
    text-align: left;
  }

  .grow {
    margin-right: 20px;
  }

  .m-menu {
    display: flex;
    flex-direction: row;
  }

  .m-menu-r {
    display: flex;
    flex-direction: row;
    text-align: -webkit-right;
  }

  .m-menu-l {
    display: flex;
    flex-direction: row;
  }

  .expand {
    flex: 1 1 auto;
  }
}

@media only screen and (min-width: 450px) {
  .toolbar {
    height: 8vh;
  }

  .menu {
    width: 97vw !important;
  }

  .user-settings {
    float: right;
    text-align: end;
  }

  .grow {
    margin-left: 20px;
  }

  .expand {
    margin-right: 50%;
  }
}

.toolbar {
  padding: 0 5vw;
}

.user-settings {
  width: 100%;
}

.mat-drawer {
  min-width: 15vw;
  width: auto;
}

.grow {
  transform: scale(1.3);
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.6);
}

.logo {
  min-width: auto;
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(62, 91, 147, 0.9);
  border: 1px white !important;
  font-size: 22px;
  padding-top: 4px;
}

.logo-d {
  min-width: auto;
  font-size: x-large;
  color: rgba(62, 91, 147, 0.9);
  border: 1px white !important;
  font-size: 22px;
  padding-top: 4px;
}

.example-spacer {
  flex: 1 1 auto;
}
