<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="eventMenu">Event</button>
  <mat-menu #eventMenu="matMenu">
    <button mat-menu-item routerLink="event-list">List Events</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="userMenu">Users</button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="user-list">List Users</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="groupMenu">Group</button>
  <mat-menu #groupMenu="matMenu">
    <button mat-menu-item routerLink="group-list">List Groups</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="stateMenu">States</button>
  <mat-menu #stateMenu="matMenu">
    <button mat-menu-item routerLink="state-list">List States</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="eventTypeMenu">Event Types</button>
  <mat-menu #eventTypeMenu="matMenu">
    <button mat-menu-item routerLink="event-type-list">List Event Types</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="userEventMenu">Event Entries</button>
  <mat-menu #userEventMenu="matMenu">
    <button mat-menu-item routerLink="user-event-list">List Event Entries</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="userGroupMenu">Group Entries</button>
  <mat-menu #userGroupMenu="matMenu">
    <button mat-menu-item routerLink="user-group-list">List Group Entries</button>
  </mat-menu>

</mat-toolbar>

<router-outlet></router-outlet>
