<div class="container">
  <mat-card class="home-card">
    <div class="card-container">
      <h1 class="title">ACE OF CLUBS</h1>
      <p class="subtitle">Manage and Keep on Top of Your Club with one simple Tool.</p>
    </div>
    <p class="subtitle2">JOIN US TODAY</p>
    <mat-divider [inset]="true"></mat-divider>
    <div class="card-actions">
      <button style="margin-left: 10px" mat-stroked-button class="btn-transparent" routerLink="/login">Login</button>
      <mat-divider [vertical]="true"></mat-divider>
      <button style="margin-right: 10px" mat-stroked-button class="btn-transparent" routerLink="/register">Sign Up
      </button>
    </div>

  </mat-card>


  <div class="container">
    <p class="subheading">What we are Offering</p>
    <mat-divider style="padding: 5px"></mat-divider>
    <div class="elem-container">
      <mat-card class="elements">
        <span class="material-icons">event_available</span>
      </mat-card>
      <mat-card class="elements">
        <span class="material-icons">groups</span>
      </mat-card>
      <mat-card class="elements">
        <span class="material-icons">leaderboard</span>
      </mat-card>
      <mat-card class="elements">
        <span class="material-icons">alarm</span>
      </mat-card>
    </div>
  </div>

</div>
