<div class="container">
  <mat-card class="home-card">
    <div class="card-container">
      <h1 class="title anim-right">ACE OF CLUBS</h1>
      <p class="subtitle anim-right">Manage and Keep on Top of Your Club with one simple Tool.</p>
    </div>
    <p *ngIf="!isLoggedIn" class="subtitle2 anim-right">JOIN US TODAY</p>
    <mat-divider class="main-divider" [inset]="true"></mat-divider>
    <div class="card-actions">

      <div class="notloggedin anim-right" *ngIf="!isLoggedIn">
        <button style="margin-left: 15px" mat-stroked-button class="btn-transparent" routerLink="/login">Login</button>
        <mat-divider class="main-divider" [vertical]="true"></mat-divider>
        <button style="margin-right: 15px" mat-stroked-button class="btn-transparent" routerLink="/register">Sign Up
        </button>
      </div>
      <div style="margin-top: 15px" class="anim-right" *ngIf="isLoggedIn">
        <button mat-stroked-button class="btn-transparent" routerLink="/overview">Visit your Personalized Page</button>
      </div>
    </div>

  </mat-card>


  <div style="margin-bottom: 20px" class="container">
    <p class="subheading anim-right">What we are Offering</p>
    <mat-divider style="padding: 5px"></mat-divider>
    <div class="elem-container">

      <mat-card class="elements anim-right standard-card">
        <div class="header-elements mobile-view">
          <div class="horiz-center">
            <img class="icon" src="./assets/image/event_available-48dp.png" alt="Events">
          </div>
          <p class="small-heading">ORGANIZE EVENTS SUCCESSFULLY</p>
        </div>
        <div class="footer-elements">
          <mat-divider></mat-divider>
          <p class="regular-text">Facilitate the successful Organisation of all Types of Events and Outings for your Club.</p>
        </div>
      </mat-card>

      <mat-card class="elements anim-right standard-card">
        <div class="header-elements mobile-view">
          <div class="horiz-center">
            <img class="icon" src="./assets/image/groups-48dp.png" alt="Members">
          </div>
          <p class="small-heading">COORDINATE ALL CLUB MEMBERS</p>
        </div>
        <div class="footer-elements">
          <mat-divider></mat-divider>
          <p class="regular-text">Easily coordinate all Members of your Club including different Sub-Groups and their
            respective Purposes.</p>
        </div>
      </mat-card>

      <mat-card class="elements anim-right standard-card">
        <div class="header-elements mobile-view">
          <div class="horiz-center">
            <img class="icon" src="./assets/image/leaderboard-48dp.png" alt="Statistics">
          </div>
          <p class="small-heading">KEEP TRACK OF YOUR CLUB</p>
        </div>
        <div class="footer-elements">
          <mat-divider></mat-divider>
          <p class="regular-text">Keep Track of all Events, Members and Groups and view who is attending which Events.</p>
        </div>
      </mat-card>
    </div>
  </div>

</div>
