<div *ngIf="!initializing">
  <table class="table" *ngIf="medias?.length">
    <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <td style="max-width: 150px; overflow:hidden; text-overflow: ellipsis; direction: ltr" matTooltip="{{getFilename(medias[0])}}" matTooltipClass="tooltips"><strong>{{ getFilename(medias[0]) }}</strong></td>
      <td style="min-width: fit-content; width: 7vw; text-align: -webkit-center">
        <span *ngIf="!medias[0].pk">Files is being uploaded...</span>
        <span *ngIf="medias[0].pk">Uploaded</span>
      </td>
      <td>
        <div class="btn-group" align="right">
          <button matTooltip="Download Picture" matTooltipClass="tooltips" mat-icon-button color="standard" (click)="downloadMedia(medias[0])">
            <mat-icon>get_app</mat-icon>
          </button>
          <button matTooltip="Remove Picture" matTooltipClass="tooltips" mat-icon-button color="standard" (click)="deleteMedia(0)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </td>
    </tbody>
  </table>

  <input matTooltip="Upload Profile Picture" matTooltipClass="tooltips" type="file" [accept]="accept" *ngIf="!hasProfilePic" ng2FileSelect [uploader]="uploader" [multiple]="false" (change)="selectFile($event)"/>

</div>
