<div *ngIf="!initializing">
  <table class="table" *ngIf="medias?.length">
    <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <td><strong>{{ getFilename(medias[0]) }}</strong></td>
      <td>
        <span *ngIf="!medias[0].pk">Wird hochgeladen...</span>
        <span *ngIf="medias[0].pk">Hochgeladen</span>
      </td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="downloadMedia(medias[0])">
            Download
          </button>
          <button type="button" class="btn btn-danger" (click)="deleteMedia(0)">
            Entfernen
          </button>
        </div>
      </td>
    </tbody>
  </table>

  <input type="file" [accept]="accept" *ngIf="!hasProfilePic" ng2FileSelect [uploader]="uploader" [multiple]="false" (change)="selectFile($event)"/>

</div>
