.mat-elevation-z8{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.mat-header-cell{
  padding: 3rem;
  align-content: center;
}

.event_column{
  margin-right: 40rem;
  padding: 5rem;
}

.clickable{
  cursor: pointer;
}

.event-name {
  font-size: larger;
  font-weight: bold;
}

.btn-standard {
  font-size: 16px;
}

.mobile-title {
  text-align: -webkit-right;
  margin-right: 15px;
}


