.mat-elevation-z8{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.mat-header-cell{
  padding: 3rem;
  align-content: center;
}

.event_column{
  margin-right: 40rem;
  padding: 5rem;
}

.clickable{
  cursor: pointer;
}

.ev-m-header {
  height: fit-content;
}

.ev-m-title {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.event-name {
  font-size: larger;
  font-weight: bold;
}

.ev-m-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: -webkit-right;
}

.btn-standard {
  font-size: 16px;
}

.mobile-title {
  text-align: -webkit-right;
  margin-right: 15px;
}

.m-event-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
