<!-- Desktop Ansicht -->
<div class="desktop-view container">

  <div *ngFor="let user of userProfile">

    <div class="position"></div>
    <div class="horiz-center">
      <div class="anim-right">
        <img class="profile-picture-large" [src]="'/api/media/download/' + user.pictures + '/'" height=30px
             *ngIf="user.pictures.length>0; else alt">
        <ng-template #alt><img class="profile-picture-large" src="/assets/image/user.png" height=30px></ng-template>
      </div>
      <mat-divider style="margin-left: 30px; margin-right: 48px" [vertical]="true"></mat-divider>
      <h1 class="title-bg anim-left">MY<br>PROFILE</h1>
    </div>


    <!-- Profile Actions: Edit & Delete Profile -->
    <div class="actions horiz-space-around">
      <mat-button-toggle-group>
        <mat-button-toggle class=" anim-right" matTooltip="Edit Profile" matTooltipClass="tooltips"
                           [routerLink]="'/user-form/' + user.pk">
          <mat-icon>edit</mat-icon>
        </mat-button-toggle>

        <mat-button-toggle *ngIf="userService.hasPermission('aceofclubs.delete_user')"
                           class="anim-right" (click)="deleteUser(user)" matTooltip="Delete Profile"
                           matTooltipClass="tooltips">
          <mat-icon>delete_outline</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle *ngIf="!userService.hasPermission('aceofclubs.delete_user')"
                           class="anim-right" (click)="deleteUser(user)" matTooltip="Disable Profile"
                           matTooltipClass="tooltips">
          <mat-icon>person_remove</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle class="anim-right" matTooltip="Create Vacation" matTooltipClass="tooltips"
                           (click)="openDialog()">
          <mat-icon>event_busy</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="horiz-center">

      <!-- Personal Information Card -->
      <mat-card class="standard-card anim-right">
        <mat-card-header class="horiz-center">
          <mat-card-title class="small-heading">PERSONAL INFORMATION</mat-card-title>
        </mat-card-header>
        <div style="margin: 5px">
          <mat-divider style="margin: 5px 0 25px 0" [inset]="true" class="horiz-center"></mat-divider>
        </div>
        <mat-card-content class="acc-content">
          <div class="content-m-row">
            <div class="content-m-hd">Firstname:</div>
            <div class="content-m-data">{{user.first_name}}</div>
          </div>
          <div class="content-m-row">
            <div class="content-m-hd">Lastname:</div>
            <div class="content-m-data">{{user.last_name}}</div>
          </div>
          <div class="content-m-row">
            <div class="content-m-hd">E-Mail:</div>
            <div class="content-m-data">{{user.email}}</div>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- Groups Card -->
      <mat-card class="standard-card anim-right">
        <mat-card-header class="horiz-center">
          <mat-card-title class="small-heading">GROUPS</mat-card-title>
        </mat-card-header>
        <mat-divider style="margin: 5px 0 25px 0" [inset]="true" class="horiz-center"></mat-divider>
        <mat-card-content class="acc-content">
          <div class="content-m-row">
            <div class="content-m-hd">My Groups:</div>
            <!--<div class="content-m-data">{{user.username}}</div>-->
          </div>
        </mat-card-content>
      </mat-card>

      <!-- Account Information Card -->
      <mat-card style="margin-bottom: 15px" class="standard-card anim-right">
        <mat-card-header class="horiz-center">
          <mat-card-title class="small-heading">ACCOUNT INFORMATION</mat-card-title>
        </mat-card-header>
        <mat-divider style="margin: 5px 0 25px 0" [inset]="true" class="horiz-center"></mat-divider>
        <mat-card-content>
          <div class="acc-content">
            <div class="content-m-row">
              <div class="content-m-hd">Username:</div>
              <div class="content-m-data">{{user.username}}</div>
            </div>
            <div class="content-m-row">
              <div class="content-m-hd">Date Joined:</div>
              <div class="content-m-data">{{user.date_joined | date: 'dd.MM.yyyy'}}</div>
            </div>
            <div class="content-m-row">
              <div class="content-m-hd">Active:</div>
              <div class="content-m-data">{{user.is_active}}</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>


<!-- Mobile Ansicht -->
<div class="mobile-view container">
  <div class="mobile-h2">
    <div class="vertical-center">
      <div *ngFor="let user of userProfile">
        <div class="horiz-center">
          <img class="profile-picture" [src]="'/api/media/download/' + user.pictures + '/'"
               *ngIf="user.pictures.length>0; else alt">
          <ng-template #alt><img class="profile-picture" src="/assets/image/user.png"></ng-template>
        </div>
        <div class="horiz-center">
          <div class="mobile-title anim-right">MY PROFILE</div>
        </div>
        <mat-divider style="margin-bottom: 15px"></mat-divider>


        <!-- Profile Actions: Edit & Delete Profile -->
        <div class="actions horiz-space-around anim-right">
          <button style="margin-right: 40px" mat-icon-button color="standard" [routerLink]="'/user-form/' + user.pk">
            <mat-icon>edit</mat-icon>
          </button>
          <button style="margin-left: 40px" *ngIf="isStaff" mat-icon-button color="light" (click)="deleteUser(user)">
            <mat-icon>delete_outline</mat-icon>
          </button>
          <button style="margin-left: 40px" *ngIf="!isStaff" mat-icon-button color="light" (click)="deleteUser(user)">
            <mat-icon>person_remove</mat-icon>
          </button>
        </div>
        <mat-divider style="margin-top: 15px; margin-bottom: 15px"></mat-divider>

        <!-- Personal Information Card -->
        <mat-card class="standard-card anim-right">
          <mat-card-header class="horiz-center">
            <mat-card-title class="small-heading">PERSONAL INFORMATION</mat-card-title>
          </mat-card-header>
          <mat-divider class="horiz-center" style="width: 80vw"></mat-divider>
          <mat-card-content class="acc-content">
            <div class="content-m-row">
              <div class="content-m-hd">Firstname:</div>
              <div class="content-m-data">{{user.first_name}}</div>
            </div>
            <div class="content-m-row">
              <div class="content-m-hd">Lastname:</div>
              <div class="content-m-data">{{user.last_name}}</div>
            </div>
            <div class="content-m-row">
              <div class="content-m-hd">E-Mail:</div>
              <div class="content-m-data">{{user.email}}</div>
            </div>
          </mat-card-content>
        </mat-card>

        <!-- Groups Card -->
        <mat-card class="standard-card anim-right">
          <mat-card-header class="horiz-center">
            <mat-card-title class="small-heading">GROUPS</mat-card-title>
          </mat-card-header>
          <mat-divider class="horiz-center" style="width: 80vw"></mat-divider>
          <mat-card-content class="acc-content">
            <div class="content-m-row">
              <div class="content-m-hd">My Groups:</div>
              <!--<div class="content-m-data">{{user.username}}</div>-->
            </div>
          </mat-card-content>
        </mat-card>

        <!-- Account Information Card -->
        <mat-card style="margin-bottom: 15px" class="standard-card anim-right">
          <mat-card-header class="horiz-center">
            <mat-card-title class="small-heading">ACCOUNT INFORMATION</mat-card-title>
          </mat-card-header>
          <mat-divider class="horiz-center" style="width: 80vw"></mat-divider>
          <mat-card-content>
            <div class="acc-content">
              <div class="content-m-row">
                <div class="content-m-hd">Username:</div>
                <div class="content-m-data">{{user.username}}</div>
              </div>
              <div class="content-m-row">
                <div class="content-m-hd">Date Joined:</div>
                <div class="content-m-data">{{user.date_joined | date: 'dd.MM.yyyy'}}</div>
              </div>
              <div class="content-m-row">
                <div class="content-m-hd">Active:</div>
                <div class="content-m-data">{{user.is_active}}</div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>
</div>
