.mat-elevation-z8{
  display: flex;
  flex-direction: column;
  width: fit-content;

  margin: 5rem auto;
}

.container {
  width: 100%;
}

.header-container {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title-bg{
  font-size: 600%;
  margin: 0;
  padding: 0;
}

.btn-light {
  background-color: transparent;
  font-size: 18px;
  min-width: fit-content;
  width: 8vw;
}

.btn-standard2 {
  background-color: transparent;
  font-size: 18px;
  min-width: fit-content;
  width: 8vw;
}

.mat-header-cell{
  width: fit-content;
  padding-right: 5rem;
}

.mat-cell{
  width: fit-content;
  padding-right: 6rem;
}

.ng-container {
  width: fit-content;
}

.mobile-title{
  font-size: 340%;
}

.mat-button-toggle-group {
  border-color: white;
  border-radius: 5px;
}

.mat-button-toggle {
  background-color: rgba(62, 91, 147, 0.8);
  color: white;
}

@media only screen and (max-width: 450px) {
  .profile-picture{
    height: 110px;
    width: 110px;
    padding: 10px;
  }

  .small-heading {
    font-size: 25px;
  }

  .acc-content {
    padding: 15px;
  }

  .mat-divider {
    margin-left: 30px;
    margin-right: 35px;
  }
}

@media only screen and (min-width: 450px) {
  .standard-card {
    min-width: 250px;
    width: 23%;
    min-height: 200px;
    height: 40%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .position {
    padding-top: 12vh;
  }

  .small-heading {
    font-size: 27px;
  }

  .content-m-row {
    font-size: 18px;
    padding: 0px 15px 15px 15px;
  }

  .actions {
    padding: 7vh;
  }

  .mat-button-toggle {
    min-width: fit-content;
    width: 4vw !important;
  }
}
