<!--

<form [formGroup]="userGroupFormGroup" (ngSubmit)="createGroupEntry()">
   <mat-form-field>
     <input readonly matInput type="text"  formControlName="ev_type">
     <mat-hint align="end"> Event Type </mat-hint>
     <mat-error *ngIf="eventFormGroup.controls.ev_type.hasError('required')"> Event Type is required</mat-error>
   </mat-form-field>

  <label>User: <input formControlName="user"></label>

  <label>Group: <input formControlName="group"></label>

  <label>Leader: <input type="checkbox" formControlName="is_leader"></label>

  <button>Create</button>

</form>

-->
<form [formGroup]="userGroupFormGroup" (ngSubmit)="createOrUpdateGroupEntry()" class="user-group-form__form">
  <!--<label>Description: <input formControlName="description"></label>
  <button>Create</button>-->

  <!-- Groups -->
  <mat-form-field>
    <mat-select placeholder="User" formControlName="user" multiple>
      <mat-option [value]="userOption.pk"
                  *ngFor="let userOption of userOptions">{{userOption.username}}</mat-option>
    </mat-select>
    <mat-hint align="end">The groups involved in this event</mat-hint>
  </mat-form-field>

  <!-- Groups -->
  <mat-form-field>
    <mat-select placeholder="Groups" formControlName="group" multiple>
      <mat-option [value]="groupOption.pk"
                  *ngFor="let groupOption of groupOptions">{{groupOption.name}}</mat-option>
    </mat-select>
    <mat-hint align="end">The groups involved in this event</mat-hint>
  </mat-form-field>

  <!-- Is Leader -->
  <mat-checkbox formControlName="is_leader">Is leader?</mat-checkbox>

  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!userGroupFormGroup.valid">
      <span *ngIf="!userGroupFormGroup.controls.pk.value">Create</span>
      <span *ngIf="userGroupFormGroup.controls.pk.value">Update</span>
    </button>
  </mat-card-actions>

</form>
