<div class="container-bg"
     *ngIf="userService.hasPermission('aceofclubs.add_group') || userService.hasPermission('aceofclubs.change_group')">

  <!-- Desktop Ansicht -->
  <div class="desktop-view">
    <div class="manage-container card-bg"
         style="height: 100%; display: flex; flex-direction: column; justify-content: center">


      <form [formGroup]="groupFormGroup" (ngSubmit)="createGroup()" class="group-form__form">
        <div style="padding-top: 25vh">
          <mat-card class="manage-card anim-right">
            <mat-card-header class="card-container">
              <mat-card-title class="mat-h3" *ngIf="!groupFormGroup.controls.pk.value">CREATE A NEW GROUP
              </mat-card-title>
              <mat-card-title class="mat-h3" *ngIf="groupFormGroup.controls.pk.value">EDIT YOUR GROUP</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="form-subtitle" style="margin-bottom: 20px" *ngIf="!groupFormGroup.controls.pk.value">Add a new
                Group to your Club by defining its name below. You can assign a
                leader and add Members once the group has been created.
              </div>
              <div class="form-subtitle" style="margin-bottom: 20px" *ngIf="groupFormGroup.controls.pk.value">You are
                able to change an existing Group's Name below.
              </div>
              <br>
              <mat-form-field>
                <input matInput type="text" placeholder="Group Name" formControlName="name" required>
                <mat-hint align="end">Name of the Group</mat-hint>
                <mat-error *ngIf="groupFormGroup.controls.name.hasError('required')">Group Name is required
                </mat-error>
              </mat-form-field>

              <mat-card-actions align="center" style="margin-top: 40px">
                <button mat-raised-button class="btn-standard" [disabled]="!groupFormGroup.valid">
                  <span *ngIf="!groupFormGroup.controls.pk.value">Create</span>
                  <span *ngIf="groupFormGroup.controls.pk.value">Update</span>
                </button>

                <button mat-raised-button class="btn-light" routerLink="/group-list">Cancel
                </button>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>
        </div>
      </form>

    </div>
  </div>

  <!-- Mobile Ansicht -->
  <div class="mobile-view">
    <div class="card-bg">

      <form [formGroup]="groupFormGroup" (ngSubmit)="createGroup()" class="group-form__form">
        <mat-card class="manage-card anim-right">
          <mat-card-header class="card-container">
            <mat-card-title class="mat-h3" *ngIf="!groupFormGroup.controls.pk.value">CREATE A NEW</mat-card-title>
            <mat-card-title class="mat-h3" *ngIf="!groupFormGroup.controls.pk.value">GROUP</mat-card-title>
            <mat-card-title class="mat-h3" *ngIf="groupFormGroup.controls.pk.value">EDIT YOUR GROUP</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="form-subtitle" style="margin-bottom: 20px" *ngIf="!groupFormGroup.controls.pk.value">Add a new
              Group to your Club by defining its name below. You can assign a
              leader and add Members once the group has been created.
            </div>
            <div class="form-subtitle" style="margin-bottom: 20px" *ngIf="groupFormGroup.controls.pk.value">You are able
              to change an existing Group's Name below.
            </div>
            <br>
            <mat-form-field>
              <input matInput type="text" placeholder="Group Name" formControlName="name" required>
              <mat-hint align="end">Name of the Group</mat-hint>
              <mat-error *ngIf="groupFormGroup.controls.name.hasError('required')">Group Name is required
              </mat-error>
            </mat-form-field>

            <mat-card-actions align="center" style="margin-top: 40px">
              <button mat-raised-button class="btn-standard" [disabled]="!groupFormGroup.valid">
                <span *ngIf="!groupFormGroup.controls.pk.value">Create</span>
                <span *ngIf="groupFormGroup.controls.pk.value">Update</span>
              </button>

              <button mat-raised-button class="btn-light" routerLink="/group-list">Cancel
              </button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </form>

    </div>
  </div>
</div>


<div
  *ngIf="!userService.hasPermission('aceofclubs.add_group') && !userService.hasPermission('aceofclubs.change_group')">
  <div class="container">
    <div class="vertical-center error-position">
      <div style="font-size: 800%; margin-bottom: 40px" class="error-title desktop-view anim-right">OH NO!</div>
      <div class="error-title mobile-view anim-right">OH<br>NO!</div>
      <div class="error-message anim-right">
        <div class="error-text">You do not have the Permissions add or change Groups!
        </div>
        <div style="margin-top: 30px" class="error-text">You can view your own Profile here:</div>
      </div>
      <div class="error-button horiz-center">
        <button mat-button class="btn-standard2 anim-right" routerLink="/user-profile">My Profile</button>
      </div>
    </div>
  </div>
</div>

