<div class="container">

  <div class="horiz-center"
       *ngIf="userService.hasPermission('aceofclubs.add_group') || userService.hasPermission('aceofclubs.change_group')">
    <form [formGroup]="groupFormGroup" (ngSubmit)="createGroup()" class="group-form__form">
      <!--<label>Group Name: <input formControlName="name"></label>
      <button>Create</button>-->

      <mat-form-field>
        <input matInput type="text" placeholder="Group Name" formControlName="name">
        <mat-hint align="end">Name of the Group</mat-hint>
        <mat-error *ngIf="groupFormGroup.controls.name.hasError('required')">State is required</mat-error>
      </mat-form-field>

      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!groupFormGroup.valid">
          <span *ngIf="!groupFormGroup.controls.pk.value">Create</span>
          <span *ngIf="groupFormGroup.controls.pk.value">Update</span>
        </button>
      </mat-card-actions>

    </form>
  </div>

  <div
    *ngIf="!userService.hasPermission('aceofclubs.add_group') && !userService.hasPermission('aceofclubs.change_group')">
    <div class="vertical-center error-position">
      <div style="font-size: 800%; margin-bottom: 40px" class="error-title desktop-view anim-right">OH NO!</div>
      <div class="error-title mobile-view anim-right">OH<br>NO!</div>
      <div class="error-message anim-right">
        <div class="error-text">You do not have the Permissions add or change Groups!
        </div>
        <div style="margin-top: 30px" class="error-text">You can view your own Profile here:</div>
      </div>
      <div class="error-button horiz-center">
        <button mat-button class="btn-standard2 anim-right" routerLink="/user-profile">My Profile</button>
      </div>
    </div>
  </div>
</div>

