<div class="container-bg" *ngIf="this.userService.hasPermission('aceofclubs.delete_user')">

  <h1 style="padding-top: 5vh; padding-bottom: 5vh" class="title-regular desktop-view">CLUB MANAGEMENT</h1>
  <h1 style="padding-top: 5vh; padding-bottom: 5vh" class="title-regular mobile-view">MANAGE YOUR CLUB</h1>

  <!-- Club Management -->
  <div class="actions horiz-space-around">
    <mat-button-toggle-group>
      <mat-button-toggle class="inactive-manage" matTooltip="Manage Users" matTooltipClass="tooltips"
                         [routerLink]="'/user-list'">
        <mat-icon>person</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle class="inactive-manage" *ngIf="userService.hasPermission('aceofclubs.delete_user')"
                         [routerLink]="'/state-list'" matTooltip="Manage States"
                         matTooltipClass="tooltips">
        <mat-icon>sms</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle class="inactive-manage" matTooltip="Manage Groups" matTooltipClass="tooltips"
                         [routerLink]="'/group-list'">
        <mat-icon>groups</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle class="active-manage" matTooltip="Manage Events" matTooltipClass="tooltips"
                         [routerLink]="'/all-events-list'">
        <mat-icon>event</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- Desktop Ansicht -->
  <div class="desktop-view">
    <div class="horiz-center" style="padding-top: 6vh">
      <mat-card class="content-card">
        <mat-card-header style="display: flex; flex-direction: row; justify-content: space-between">

          <mat-card-title class="mat-h3 mobile-view">ALL EVENTS</mat-card-title>
          <div>
            <input class="form-control mr-sm-2 search" type="text" placeholder="Search Event Name" [(ngModel)]="search"
                   (ngModelChange)="filterSortSearchEvents(search, '')">
            <button class="menu-button" style="margin-bottom: 12px" mat-button (click)="showFilterOptions()"
                    color="standard"
                    matTooltip="Filter Events"
                    matTooltipClass="tooltips">
              <mat-icon>filter_alt</mat-icon>
            </button>
            <button class="menu-button" [matMenuTriggerFor]="exportMenu" style="margin-bottom: 12px" mat-button
                    color="standard"
                    matTooltip="Export Options"
                    matTooltipClass="tooltips">
              <mat-icon>get_app</mat-icon>
            </button>

            <mat-menu #exportMenu="matMenu">
              <button mat-menu-item (click)="downloadAsPDF()">
                <span>Export to PDF</span>
              </button>
              <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'My_Users_data'})">
                <span>Export to EXCEL</span>
              </button>
              <button mat-menu-item (click)="exporter.exportTable('csv',{fileName:'My_Users_data'})">
                <span>Export to CSV</span>
              </button>
              <button mat-menu-item (click)="exporter.exportTable('json',{fileName:'My_Users_data'})">
                <span>Export to JSON</span>
              </button>
              <button mat-menu-item (click)="exporter.exportTable('txt',{fileName:'My_Users_data'})">
                <span>Export to TXT</span>
              </button>
            </mat-menu>

            <button class="menu-button" style="margin-bottom: 12px" mat-button routerLink="/event-type-list"
                    color="standard"
                    matTooltip="View all Event Types"
                    matTooltipClass="tooltips">
              <mat-icon>date_range</mat-icon>
            </button>
            <button class="menu-button" style="margin-bottom: 12px" mat-button routerLink="/event-type-form"
                    color="standard"
                    matTooltip="Add an Event Type"
                    matTooltipClass="tooltips">
              <mat-icon>book_online</mat-icon>
            </button>
          </div>

        </mat-card-header>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content>

          <!-- Filtern -->
          <div *ngIf="showFilter">
            <form [formGroup]="eventFilterFormGroup" (ngSubmit)="filterSortSearchEvents(search, '')">
              <div class="horiz-space-around position">
                <mat-form-field>
                  <mat-select placeholder="Event Type" formControlName="ev_type">
                    <mat-option [value]="null">Unknown</mat-option>
                    <mat-option [value]="eventTypeOption.pk"
                                *ngFor="let eventTypeOption of eventTypeOptions">{{eventTypeOption.description}}</mat-option>
                  </mat-select>
                  <mat-hint align="end">What kind of Event is it?</mat-hint>
                  <mat-error *ngIf="eventFilterFormGroup.controls.ev_type.hasError('required')">Event Type is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Group" formControlName="group">
                    <mat-option [value]="null">Unknown</mat-option>
                    <mat-option [value]="groupOption.pk"
                                *ngFor="let groupOption of groupOptions">{{groupOption.name}}</mat-option>
                  </mat-select>
                  <mat-hint align="end">What kind of Group is it?</mat-hint>
                  <mat-error *ngIf="eventFilterFormGroup.controls.ev_type.hasError('required')">Event Type is required
                  </mat-error>
                </mat-form-field>

                <div class="date">
                  <app-date placeholder="Start Date" formControlName="start_date"
                            hint="The start date of this event"></app-date>
                </div>
                <div class="date">
                  <app-date placeholder="End Date" formControlName="end_date"
                            hint="The end date of this event"></app-date>
                </div>
                <mat-card-actions style="padding-left: 20px">
                  <button mat-raised-button class="btn-standard">Filter</button>
                </mat-card-actions>
              </div>
            </form>
            <mat-divider [inset]="true"></mat-divider>
          </div>


          <div *ngIf="!showFilter" style="padding-bottom: 4vh"></div>
          <!-- List All Events -->
          <div class="horiz-center position">
            <div class="table-container">
              <table mat-table [dataSource]="allEvents" matSort>

                <!-- Name Column -->
                <ng-container matColumnDef="name" matSort (matSortChange)="filterSortSearchEvents(search,'name')"
                              matSortActive="name"
                              matSortDirection="asc" matSortDisableClear>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                  <td (click)="userService.setUserEventEntry(element.pk)" mat-cell
                      *matCellDef="let element"> {{element.name}} </td>
                  <!-- <td (click)="setUserEventEntry(element.pk)" [routerLink]="userService.goahead ? ['/user-event-form/'+ userService.existingUserEntry]: []" mat-cell *matCellDef="let element"> {{element.name}} </td> -->
                </ng-container>

                <!-- Group Column -->
                <ng-container matColumnDef="group_name" matSort
                              (matSortChange)="filterSortSearchEvents(search,'group')" matSortActive="group"
                              matSortDirection="asc" matSortDisableClear>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Groups</th>
                  <td mat-cell *matCellDef="let element"> {{element.group_names}} </td>
                  <!-- <td (click)="setUserEventEntry(element.pk)" [routerLink]="userService.goahead ? ['/user-event-form/'+ userService.existingUserEntry]: []" mat-cell *matCellDef="let element"> {{element.name}} </td> -->
                </ng-container>

                <!-- EventType Column -->
                <ng-container matColumnDef="event_type" matSort
                              (matSortChange)="filterSortSearchEvents(search,'ev_type')" matSortActive="ev_type"
                              matSortDirection="asc" matSortDisableClear>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Event Type</th>
                  <td mat-cell *matCellDef="let element"> {{element.event_type_name}} </td>
                  <!-- <td (click)="setUserEventEntry(element.pk)" [routerLink]="userService.goahead ? ['/user-event-form/'+ userService.existingUserEntry]: []" mat-cell *matCellDef="let element"> {{element.name}} </td> -->
                </ng-container>

                <!-- Start date Column -->
                <ng-container matColumnDef="start_date" matSort
                              (matSortChange)="filterSortSearchEvents(search,'start_date')"
                              matSortActive="start_date" matSortDirection="asc" matSortDisableClear>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.start_date | date : 'dd.MM.yyyy'}}
                  </td>
                </ng-container>

                <!-- Start time Column -->
                <ng-container matColumnDef="start_time" matSort
                              (matSortChange)="filterSortSearchEvents(search,'start_time')"
                              matSortActive="start_time" matSortDirection="asc" matSortDisableClear>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.start_time}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="end_date" matSort
                              (matSortChange)="filterSortSearchEvents(search,'end_date')"
                              matSortActive="end_date" matSortDirection="asc" matSortDisableClear>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.end_date | date : 'dd.MM.yyyy'}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="end_time" matSort
                              (matSortChange)="filterSortSearchEvents(search,'end_time')"
                              matSortActive="end_time" matSortDirection="asc" matSortDisableClear>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>End Time</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.end_time}}
                  </td>
                </ng-container>

                <!-- Active Column -->
                <ng-container matColumnDef="active" matSort (matSortChange)="filterSortSearchEvents(search,'active')"
                              matSortActive="active"
                              matSortDirection="asc" matSortDisableClear>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
                  <td mat-cell *matCellDef="let element"> {{element.active}} </td>
                </ng-container>

                <!-- Status mit Index 1 -->
                <ng-container matColumnDef="state_one">
                  <th mat-header-cell *matHeaderCellDef="let element" mat-sort-header>{{this.stateOneName}}</th>
                  <td mat-cell *matCellDef="let element"> {{element.state_one}} </td>
                </ng-container>

                <!-- Status mit Index 3 -->
                <ng-container matColumnDef="state_two">
                  <th mat-header-cell *matHeaderCellDef="let element" mat-sort-header>{{this.stateTwoName}}</th>
                  <td mat-cell *matCellDef="let element"> {{element.state_two}} </td>
                </ng-container>

                <!-- Status mit Index 1 -->
                <ng-container matColumnDef="state_three">
                  <th mat-header-cell *matHeaderCellDef="let element" mat-sort-header>{{this.stateThreeName}}</th>
                  <td mat-cell *matCellDef="let element"> {{element.state_three}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                  <td mat-cell *matCellDef="let element">
                    <button matTooltip="Edit" matTooltipClass="tooltips" mat-icon-button color="standard"
                            [routerLink]="'/event-form/' + element.pk">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button matTooltip="Delete" matTooltipClass="tooltips" mat-icon-button color="light"
                            (click)="deleteEvent(element)">
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              </table>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <!-- Mobile Ansicht -->
  <div class="mobile-view">
    <div style="margin-top: 30px">

      <mat-card style="border-radius: 0; min-height: 40vh">
        <mat-card-header style="display: flex; flex-direction: row; justify-content: space-between">
          <mat-card-title>ALL EVENTS</mat-card-title>
          <div>
            <button class="menu-button" style="margin-bottom: 12px" mat-icon-button (click)="showFilterOptions()"
                    color="standard"
                    matTooltip="Filter Events"
                    matTooltipClass="tooltips">
              <mat-icon>filter_alt</mat-icon>
            </button>
            <button class="menu-button" style="margin-bottom: 12px" mat-icon-button (click)="showSearchbar()"
                    color="standard"
                    matTooltip="Show Searchbar"
                    matTooltipClass="tooltips">
              <mat-icon>search</mat-icon>
            </button>

            <button class="menu-button" [matMenuTriggerFor]="exportMenu1" style="margin-bottom: 12px" mat-icon-button
                    color="standard"
                    matTooltip="Export Options"
                    matTooltipClass="tooltips">
              <mat-icon>get_app</mat-icon>
            </button>

            <mat-menu #exportMenu1="matMenu">
              <button mat-menu-item (click)="downloadAsPDF()">
                <span>Export to PDF</span>
              </button>
              <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'My_Users_data'})">
                <span>Export to EXCEL</span>
              </button>
              <button mat-menu-item (click)="exporter.exportTable('csv',{fileName:'My_Users_data'})">
                <span>Export to CSV</span>
              </button>
              <button mat-menu-item (click)="exporter.exportTable('json',{fileName:'My_Users_data'})">
                <span>Export to JSON</span>
              </button>
              <button mat-menu-item (click)="exporter.exportTable('txt',{fileName:'My_Users_data'})">
                <span>Export to TXT</span>
              </button>
            </mat-menu>

          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="horiz-center" style="padding: 10px" *ngIf="showSearch">
            <input class="form-control mr-sm-2 search" type="text" placeholder="Search" [(ngModel)]="search"
                   (ngModelChange)="filterSortSearchEvents(search, '')">
          </div>

          <!-- Filtern -->
          <div class="horiz-center" *ngIf="showFilter">
            <div *ngIf="showFilter">
              <form [formGroup]="eventFilterFormGroup" (ngSubmit)="filterSortSearchEvents(search, '')">
                <div class="position">
                  <mat-form-field align="center">
                    <mat-select placeholder="Event Type" formControlName="ev_type">
                      <mat-option [value]="null">Unknown</mat-option>
                      <mat-option [value]="eventTypeOption.pk"
                                  *ngFor="let eventTypeOption of eventTypeOptions">{{eventTypeOption.description}}</mat-option>
                    </mat-select>
                    <mat-hint align="end">What kind of Event is it?</mat-hint>
                    <mat-error *ngIf="eventFilterFormGroup.controls.ev_type.hasError('required')">Event Type is required
                    </mat-error>
                  </mat-form-field>
                  <br>

                  <mat-form-field>
                    <mat-select placeholder="Group" formControlName="group">
                      <mat-option [value]="null">Unknown</mat-option>
                      <mat-option [value]="groupOption.pk"
                                  *ngFor="let groupOption of groupOptions">{{groupOption.name}}</mat-option>
                    </mat-select>
                    <mat-hint align="end">What kind of Group is it?</mat-hint>
                    <mat-error *ngIf="eventFilterFormGroup.controls.ev_type.hasError('required')">Event Type is required
                    </mat-error>
                  </mat-form-field>
                  <br>

                  <div class="date">
                    <app-date placeholder="Start Date" formControlName="start_date"
                              hint="The start date of this event"></app-date>
                  </div>
                  <div class="date">
                    <app-date placeholder="End Date" formControlName="end_date"
                              hint="The end date of this event"></app-date>
                  </div>
                  <mat-card-actions align="center">
                    <button mat-raised-button class="btn-standard">Filter</button>
                  </mat-card-actions>
                </div>
              </form>
              <mat-divider [inset]="true"></mat-divider>
            </div>
          </div>

          <div class="anim-right">
            <mat-accordion class="event-view-acc">
              <mat-expansion-panel *ngFor="let event of allEvents" (opened)="panelOpen = true"
                                   (closed)="panelOpen = false">
                <mat-expansion-panel-header class="acc-m-header">
                  <mat-panel-title class="acc-m-title">
                    <div class="event-name"> {{event.name}} </div>
                    <br>
                    <div *ngIf="!panelOpen" class="event-date">
                      {{event.start_date | date: 'dd MMM yyyy'}} - {{event.start_time.substring(0, 5)}}
                    </div>
                  </mat-panel-title>
                  <mat-panel-description class="acc-m-description">
                    {{event.event_type_name}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="acc-content">
                  <div class="content-m-row">
                    <div class="content-m-hd">Start:</div>
                    <div class="content-m-data">{{event.start_date | date: 'dd.MM.yyyy'}}
                      - {{event.start_time.substring(0, 5)}}</div>
                  </div>
                  <div class="content-m-row">
                    <div class="content-m-hd">End:</div>
                    <div class="content-m-data">
                      {{event.end_date | date: 'dd.MM.yyyy'}} - {{event.end_time.substring(0, 5)}}
                    </div>
                  </div>
                  <div class="content-m-row">
                    <div class="content-m-hd">Groups:</div>
                    <div class="content-m-data">{{event.group_names}}</div>
                  </div>
                  <div class="content-m-row">
                    <div class="content-m-hd">{{stateOneName}}:</div>
                    <div class="content-m-data">{{event.count_state_one}}</div>
                  </div>
                  <div class="content-m-row">
                    <div class="content-m-hd">{{stateTwoName}}:</div>
                    <div class="content-m-data">{{event.count_state_two}}</div>
                  </div>
                  <div class="content-m-row">
                    <div class="content-m-hd">{{stateThreeName}}:</div>
                    <div class="content-m-data">{{event.count_state_three}}</div>
                  </div>
                  <div class="content-m-row">
                    <div class="content-m-hd">Active Event:</div>
                    <div class="content-m-data">{{event.active}}</div>
                  </div>
                  <!--
                  <div class="content-m-row">
                    <div class="content-m-hd">State:</div>
                    <div class="content-m-data">{{showedUserEvent.state_name}}</div>
                  </div>
                  -->
                </div>
                <mat-action-row class="m-acc-actions">
                  <div class="m-event-btn">
                    <button mat-icon-button color="standard" (click)="userService.setUserEventEntry(event.pk)">
                      <mat-icon>sms_failed</mat-icon>
                    </button>
                  </div>
                  <div class="m-general-btn" style="margin-right: 12px">
                    <button mat-icon-button color="standard" [routerLink]="'/event-form/' + event.pk">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="light" (click)="deleteEvent(event)">
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </div>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div>
  <div id="pdfView" #pdfView>
    <table style="display: none" mat-table matTableExporter #exporter="matTableExporter" [dataSource]="allEvents" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="name" matSort (matSortChange)="filterSortSearchEvents(search,'name')"
                    matSortActive="name"
                    matSortDirection="asc" matSortDisableClear>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td (click)="userService.setUserEventEntry(element.pk)" mat-cell
            *matCellDef="let element"> {{element.name}} </td>
        <!-- <td (click)="setUserEventEntry(element.pk)" [routerLink]="userService.goahead ? ['/user-event-form/'+ userService.existingUserEntry]: []" mat-cell *matCellDef="let element"> {{element.name}} </td> -->
      </ng-container>

      <!-- Group Column -->
      <ng-container matColumnDef="group_name" matSort
                    (matSortChange)="filterSortSearchEvents(search,'group')" matSortActive="group"
                    matSortDirection="asc" matSortDisableClear>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Groups</th>
        <td mat-cell *matCellDef="let element"> {{element.group_names}} </td>
        <!-- <td (click)="setUserEventEntry(element.pk)" [routerLink]="userService.goahead ? ['/user-event-form/'+ userService.existingUserEntry]: []" mat-cell *matCellDef="let element"> {{element.name}} </td> -->
      </ng-container>

      <!-- EventType Column -->
      <ng-container matColumnDef="event_type" matSort
                    (matSortChange)="filterSortSearchEvents(search,'ev_type')" matSortActive="ev_type"
                    matSortDirection="asc" matSortDisableClear>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Event Type</th>
        <td mat-cell *matCellDef="let element"> {{element.event_type_name}} </td>
        <!-- <td (click)="setUserEventEntry(element.pk)" [routerLink]="userService.goahead ? ['/user-event-form/'+ userService.existingUserEntry]: []" mat-cell *matCellDef="let element"> {{element.name}} </td> -->
      </ng-container>

      <!-- Start date Column -->
      <ng-container matColumnDef="start_date" matSort
                    (matSortChange)="filterSortSearchEvents(search,'start_date')"
                    matSortActive="start_date" matSortDirection="asc" matSortDisableClear>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
        <td mat-cell *matCellDef="let element">
          {{element.start_date | date : 'dd.MM.yyyy'}}
        </td>
      </ng-container>

      <!-- Start time Column -->
      <ng-container matColumnDef="start_time" matSort
                    (matSortChange)="filterSortSearchEvents(search,'start_time')"
                    matSortActive="start_time" matSortDirection="asc" matSortDisableClear>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
        <td mat-cell *matCellDef="let element">
          {{element.start_time}}
        </td>
      </ng-container>

      <ng-container matColumnDef="end_date" matSort
                    (matSortChange)="filterSortSearchEvents(search,'end_date')"
                    matSortActive="end_date" matSortDirection="asc" matSortDisableClear>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
        <td mat-cell *matCellDef="let element">
          {{element.end_date | date : 'dd.MM.yyyy'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="end_time" matSort
                    (matSortChange)="filterSortSearchEvents(search,'end_time')"
                    matSortActive="end_time" matSortDirection="asc" matSortDisableClear>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Time</th>
        <td mat-cell *matCellDef="let element">
          {{element.end_time}}
        </td>
      </ng-container>

      <!-- Active Column -->
      <ng-container matColumnDef="active" matSort (matSortChange)="filterSortSearchEvents(search,'active')"
                    matSortActive="active"
                    matSortDirection="asc" matSortDisableClear>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
      </ng-container>

      <!-- Status mit Index 1 -->
      <ng-container matColumnDef="state_one">
        <th mat-header-cell *matHeaderCellDef="let element" mat-sort-header>{{this.stateOneName}}</th>
        <td mat-cell *matCellDef="let element"> {{element.state_one}} </td>
      </ng-container>

      <!-- Status mit Index 3 -->
      <ng-container matColumnDef="state_two">
        <th mat-header-cell *matHeaderCellDef="let element" mat-sort-header>{{this.stateTwoName}}</th>
        <td mat-cell *matCellDef="let element"> {{element.state_two}} </td>
      </ng-container>

      <!-- Status mit Index 1 -->
      <ng-container matColumnDef="state_three">
        <th mat-header-cell *matHeaderCellDef="let element" mat-sort-header>{{this.stateThreeName}}</th>
        <td mat-cell *matCellDef="let element"> {{element.state_three}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button matTooltip="Edit" matTooltipClass="tooltips" mat-icon-button color="standard"
                  [routerLink]="'/event-form/' + element.pk">
            <mat-icon>edit</mat-icon>
          </button>
          <button matTooltip="Delete" matTooltipClass="tooltips" mat-icon-button color="light"
                  (click)="deleteEvent(element)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>
