.container {
  display:block;
  width:100%;
  height:93%;
  background: url('../../assets/image/mountain-range.jpg') no-repeat center center fixed;
}

.login-card {
  padding: 3vh;
  width: fit-content;
  text-align: -webkit-center;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 3px 1px -1px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.card-bg {
  padding-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

