<h2 class="header_createEvent">Create or Update an Event</h2>
<form [formGroup]="eventFormGroup" (ngSubmit)="createOrUpdateEvent()" class="event-form__form">

  <!-- Name -->
  <mat-form-field>
    <input matInput type="text" placeholder="Name" formControlName="name">
    <mat-hint align="end">The name of the event</mat-hint>
    <mat-error *ngIf="eventFormGroup.controls.name.hasError('required')">Name is required</mat-error>
  </mat-form-field>

  <!-- Event Type -->
  <mat-form-field>
    <mat-select placeholder="Event Type" formControlName="ev_type">
      <mat-option [value]="null">Unknown</mat-option>
      <mat-option [value]="eventTypeOption.pk"
                  *ngFor="let eventTypeOption of eventTypeOptions">{{eventTypeOption.description}}</mat-option>
    </mat-select>
    <mat-hint align="end">The event's type</mat-hint>
  </mat-form-field>

  <!-- Start Date -->
  <app-date placeholder="Start Date" formControlName="start_date" hint="The start date of this event"
            [required]="true"></app-date>

  <!-- Start Time -->
  <mat-form-field>
    <input matInput type="time" placeholder="Start Time" formControlName="start_time">
    <mat-hint align="end">Start Time</mat-hint>
  </mat-form-field>

  <!-- End Date -->
  <app-date placeholder="End Date" formControlName="end_date" hint="The end date of this event"
            [required]="true"></app-date>

  <!-- End Time -->
  <mat-form-field>
    <input matInput type="time" placeholder="End Time" formControlName="end_time">
    <mat-hint align="end">End Time</mat-hint>
  </mat-form-field>

  <!-- Active -->
  <mat-checkbox formControlName="active">Active</mat-checkbox>

  <!-- Groups -->
  <mat-form-field>
    <mat-select placeholder="Groups" formControlName="group" multiple>
      <mat-option [value]="groupOption.pk"
                  *ngFor="let groupOption of groupOptions">{{groupOption.name}}</mat-option>
    </mat-select>
    <mat-hint align="end">The groups involved in this event</mat-hint>
  </mat-form-field>

  <br/>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!eventFormGroup.valid">
      <span *ngIf="!eventFormGroup.controls.pk.value">Create</span>
      <span *ngIf="eventFormGroup.controls.pk.value">Update</span>
    </button>
  </mat-card-actions>
</form>
