<div class="container">

  <div class="horiz-center" *ngIf="userService.hasPermission('aceofclubs.view_eventtype')">
    <table>
      <tr>
        <th>Event Type</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let eventType of eventTypes">
        <td>{{eventType.description}}</td>
        <td><a [routerLink]="'/event-type-form/'+eventType.pk">Edit</a></td>
      </tr>
    </table>
  </div>

  <!-- Error Handling -->
  <div *ngIf="!userService.hasPermission('aceofclubs.view_eventtype')">
    <div class="vertical-center error-position">
      <div style="font-size: 800%; margin-bottom: 40px" class="error-title desktop-view anim-right">OH NO!</div>
      <div class="error-title mobile-view anim-right">OH<br>NO!</div>
      <div class="error-message anim-right">
        <div class="error-text">You are not allowed to perform Administrative Tasks!
        </div>
        <div style="margin-top: 30px" class="error-text">Go back to your Homepage:</div>
      </div>
      <div class="error-button horiz-center">
        <button mat-button class="btn-standard2 anim-right" routerLink="/overview">Home</button>
      </div>
    </div>
  </div>
</div>
