<form [formGroup]="stateFormGroup" (ngSubmit)="createOrUpdateState()" class="state-form__form">
  <!--<label>Description: <input formControlName="description"></label>
  <button>Create</button>-->

  <mat-form-field>
    <input matInput type="text" placeholder="State" formControlName="description">
    <mat-hint align="end">Name of the State</mat-hint>
    <mat-error *ngIf="stateFormGroup.controls.description.hasError('required')">State is required</mat-error>
  </mat-form-field>

  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!stateFormGroup.valid">
      <span *ngIf="!stateFormGroup.controls.pk.value">Create</span>
      <span *ngIf="stateFormGroup.controls.pk.value">Update</span>
    </button>
  </mat-card-actions>

</form>
