<table mat-table [dataSource]="users" matSort class="mat-elevation-z8">


  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
    <td mat-cell *matCellDef="let element"> {{element.username}}</td>
  </ng-container>


  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
    <td mat-cell *matCellDef="let element"> {{element.first_name}}</td>
  </ng-container>


  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
    <td mat-cell *matCellDef="let element"> {{element.last_name}}</td>
  </ng-container>


  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>E-Mail Address</th>
    <td mat-cell *matCellDef="let element"> {{element.email}}</td>
  </ng-container>


  <ng-container matColumnDef="is_active">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Active User?</th>
    <td mat-cell *matCellDef="let element"> {{element.is_active ? 'Yes' : 'No'}}</td>
  </ng-container>


  <ng-container matColumnDef="is_staff">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin User?</th>
    <td mat-cell *matCellDef="let element"> {{element.is_staff ? 'Yes' : 'No'}}</td>
  </ng-container>


  <ng-container matColumnDef="date_joined">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Joined</th>
    <td mat-cell *matCellDef="let element">
      {{element.date_joined| date: 'd.M.yyyy'}}</td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" [routerLink]="'/user-form/' + element.pk" *ngIf="userService.hasPermission('aceofclubs.change_user')">Edit</button>
      <!--<button mat-button color="primary" [routerLink]="'user-form/' + element.pk" *ngIf="element.is_staff" >Edit</button> -->
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="warn" (click)="deleteUser(element)" *ngIf="userService.hasPermission('aceofclubs.delete_user')">Delete</button>
      <!--<button mat-button color="warn" (click)="deleteUser(element)" *ngIf="element.is_staff">Delete</button>-->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

