.user-form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 3rem auto;
}

.media-input {
  font-family: Roboto,'Helvetica Neue',sans-serif;
  text-align: -webkit-center;
}

.user-name {
  font-size: larger;
}

.user-group {
  color: darkgrey;
}

.btn-standard {
  font-size: 16px;
}

.mobile-title {
  text-align: -webkit-right;
  margin-right: 15px;
}

.input {
  padding: 3px;
}

.mat-elevation-z8{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.mat-header-cell{
  padding: 3rem;
  align-content: center;
}

.event_column{
  margin-right: 40rem;
  padding: 5rem;
}

.clickable{
  cursor: pointer;
}

.event-name {
  font-size: larger;
  font-weight: bold;
}

.btn-standard {
  font-size: 16px;
}

.mobile-title {
  text-align: -webkit-right;
  margin-right: 15px;
}

.m-acc-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-table {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.group_column {
  margin-right: 200rem;
}

.mat-button-toggle {
  min-width: 70px;
  width: 5vw !important;
}

.mat-button-toggle-group {
  border-color: white;
  border-radius: 5px;
}

.inactive-manage {
  color: gray;
}

.active-manage {
  color: rgba(62, 91, 147, 0.9);
  background-color: rgba(255, 255, 255, 0.6);
}

.users-card {
  vertical-align: top;
  width: 20%;
  height: fit-content;
  min-heigt: 300px;
  margin: 1%;
  display: inline-block;
}

.user-list {
  flex-direction: column;
  height: 60vh;
  width: 100%;
  margin-left: 55px;
  overflow-y: auto;
}

.user-title {
  margin-left: 1.3vw;
  margin-top: 0.8vw;
  margin-bottom: 0 !important;
  padding-bottom: 5px !important;
}

.ul {
  font-size: 18px;
  line-height: 28px;
}

@media only screen and (max-width: 450px) {

  .mat-card {
    background-color: rgba(245, 245, 245, 1);
  }

  .mat-card-header {
    background-color: rgba(245, 245, 245, 1);
  }

  .content-card {
    width: 100%;
    padding: 20px;
    border-radius: 0;
  }

  .mat-card-title {
    font-size: 200%;
    font-weight: lighter;
  }


  .mat-header-cell, .mat-footer-cell, .mat-cell {
    min-width: 115px;
    box-sizing: border-box;
  }

  .mat-header-cell {
    padding: 0 !important;
    text-align: -webkit-center;
    font-weight: bold;
    font-size: 16px;
    color: rgba(62, 91, 147, 0.9);
  }

  .mat-cell {
    padding: 8px 5px !important;
    text-align: -webkit-center;
    font-size: 14px;
  }

  .position {
    padding-top: 15px
  }

  .title-regular {
    font-size: 400%;
    text-align: -webkit-right;
    padding-right: 20px;
  }
}


@media only screen and (min-width: 450px) {

  .title-bg {
    text-align: -webkit-center;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 600%;
  }

  .content-card {
    width: 70vw;
    padding: 25px;
    border-radius: 30px;
  }

  .mat-card-title {
    padding: 0px 10px 10px 10px;
    font-size: 200%;
    font-weight: lighter;
  }


  .mat-header-cell, .mat-footer-cell, .mat-cell {
    width: 7.5vw;
    padding: 8px 0 !important;
    text-align: -webkit-center;
    box-sizing: border-box;
  }

  .mat-header-cell {
    align-self: center;
    font-weight: bold;
    padding: 0 !important;
    font-size: 18px;
    text-align: center;
    color: rgba(62, 91, 147, 0.9);
  }


  .table-container {
    height: 50vh;
    overflow: auto;
  }

  .position {
    padding-top: 10px
  }

  .date, .mat-form-field {
    width: 15vw;
    padding: 0 10px;
  }
}
