.user-form__form{
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.group-add{
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 1rem auto;
}

.group-editOrDelete{
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 1rem auto;
}

.userEvent-editOrDelete{
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 1rem auto;
}
