<div class="container-bg-light">

  <div class="card-bg position">
    <mat-card class="form-card">

      <form [formGroup]="userFormGroup" (ngSubmit)="createOrUpdateUser()" class="user-form__form">

        <mat-card-header class="card-container" style="margin-bottom: 5px">
          <mat-card-title *ngIf="!userFormGroup.controls.pk.value" class="mat-h3">CREATE A NEW USER</mat-card-title>
          <mat-card-title
            *ngIf="userFormGroup.controls.pk.value && this.userService.hasPermission('aceofclubs.delete_user')"
            class="mat-h3">EDIT A USER'S PROFILE
          </mat-card-title>
          <mat-card-title
            *ngIf="userFormGroup.controls.pk.value && !this.userService.hasPermission('aceofclubs.delete_user')"
            class="mat-h3">EDIT YOUR PROFILE
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-form-field>
            <input matInput type="text" placeholder="Username" formControlName="username" required>
            <mat-hint align="end">Username</mat-hint>
            <mat-error *ngIf="userFormGroup.controls.username.hasError('required')">Username is required</mat-error>
          </mat-form-field>
          <br>

          <mat-form-field>
            <input matInput type="text" placeholder="First Name" formControlName="first_name" required>
            <mat-hint align="end">First Name</mat-hint>
            <mat-error *ngIf="userFormGroup.controls.first_name.hasError('required')">First Name is required</mat-error>
          </mat-form-field>
          <br>

          <mat-form-field>
            <input matInput type="text" placeholder="Last Name" formControlName="last_name" required>
            <mat-hint align="end">Last Name</mat-hint>
            <mat-error *ngIf="userFormGroup.controls.last_name.hasError('required')">Last Name is required</mat-error>
          </mat-form-field>
          <br>

          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" ngModel [email]="true" required>
            <mat-hint align="end">E-Mail</mat-hint>
            <mat-error *ngIf="userFormGroup.controls.email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="userFormGroup.controls.email.hasError('email')">Enter a valid Email address</mat-error>
          </mat-form-field>
          <br>

          <mat-form-field>
            <input matInput type="password" placeholder="Enter Password" formControlName="password" required
                   minlength="8">
            <mat-hint align="end">Password</mat-hint>
            <mat-error *ngIf="userFormGroup.controls.password.hasError('required') ">Password is required</mat-error>
            <mat-error *ngIf="userFormGroup.controls.password.hasError('minlength') ">Password is not secure!
            </mat-error>
          </mat-form-field>
          <br>

          <div style="display: flex; flex-direction: row; justify-content: space-around">
            <mat-checkbox formControlName="is_active" *ngIf="userService.hasPermission('aceofclubs.delete_user')">Is
              Active?
            </mat-checkbox>

            <mat-checkbox formControlName="is_staff" *ngIf="userService.hasPermission('aceofclubs.delete_user')">Is
              Admin?
            </mat-checkbox>
          </div>
          <br>

          <div style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 10px">
            <div matTooltip="Upload Profile Picture" matTooltipClass="tooltips" (click)="showFileupload()"
                 class="subtitle" style="display: flex; margin-top: 4px; flex-direction: row; font-size: larger; font-weight: lighter; cursor: pointer; line-height: 24px">
              <mat-icon style="padding-right: 10px" color="standard">add_photo_alternate</mat-icon>
              <span>Add or Change your Profile Picture</span>
            </div>
          </div>

          <div *ngIf="showUpload">
            <app-mediainput formControlName="pictures"></app-mediainput>
          </div>

          <br/>

          <mat-card-actions align="center">
            <button mat-raised-button class="btn-standard" [disabled]="userFormGroup.invalid">
              <span *ngIf="!userFormGroup.controls.pk.value">Create</span>
              <span *ngIf="userFormGroup.controls.pk.value">Update</span>
            </button>
          </mat-card-actions>
        </mat-card-content>
      </form>


      <div class="subtitle" *ngIf="userService.hasPermission('aceofclubs.delete_user')" style="font-size: larger; font-weight: lighter; margin-bottom: 5px">ADDITIONAL OPTIONS</div>
      <div class="actions horiz-space-around" *ngIf="userService.hasPermission('aceofclubs.delete_user')">
        <mat-button-toggle-group>
          <mat-button-toggle class="anim-right" matTooltip="Add User To Group" matTooltipClass="tooltips"
                             (click)="userService.setUserGroupEntry()">
            <mat-icon>edit</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            class="anim-right" [routerLink]="'/user-group-list/' + this.userService.clickedUser"
            matTooltip="View or Delete Group"
            matTooltipClass="tooltips">
            <mat-icon>delete_outline</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle class="anim-right" [routerLink]="'/user-event-list/' + this.userService.clickedUser"
                             matTooltip="View or Delete Event Entries"
                             matTooltipClass="tooltips">
            <mat-icon>person_remove</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </mat-card>
  </div>
</div>
