# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Dropbox\FH-Joanneum\5.Semester\SWENGS\PROJECTAREA\AceOfClubs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
