# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Dropbox\FH-Joanneum\5.Semester\SWENGS\AceOfClubs\Ace-of-Clubs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
